// Navigation code here

nav {
    .flex-layout(column, nowrap, center, center);
    width: 100%;
    text-align: center;
    font-size: 1.5em;
    background-color: @nav-bg;
    padding-bottom: 2%;
    h1 {
        font-size: 3em;
    }
    ul {
        .flex-layout(row, nowrap, space-around, center);
        margin-top: 2%;
        width: 40%;

        @media @phone {
            width: 100%;
        }
        li {
            a
            {
                text-decoration: none;
                font: @river-bend;
                color: inherit;
            }
        }
    }
}
