// Navigation code here

nav {
    .flex-layout(column, nowrap, center, none);
    padding: 1%;
    width: 100%;
    text-align: center;
    font-size: 1.5em;
    background-color: @nav-bg;
    h1 {
        font-size: 3em;
    }
    ul {
        .flex-layout(row, nowrap, space-between, none);
        margin-top: 2%;
        padding-left: 32%;
        padding-right: 32%;
        li {
            a
            {
                text-decoration: none;
                font: @river-bend;
                color: inherit;
            }
        }
    }
}
