// Navigation code here

nav {
    padding: 1%;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-flow: column nowrap;
    font-size: 1.5em;
    background-color: @nav-bg;
    h1 {
        font-size: 3em;
    }
    ul {
        margin-top: 2%;
        padding-left: 32%;
        padding-right: 32%;
        display: flex;
        justify-content: space-between;
        flex-flow: row nowrap;
        li {
            a
            {
                text-decoration: none;
                font: @river-bend;
                color: inherit;
            }
        }
    }
}
